ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
body{
 margin: 0 auto;
 //background-image: url("../image/filer.jpg");
 background-repeat: no-repeat;
 background-size: 100% 720px;
 background-color: white;
}

.container{
 width: 500px;
 height: 300px;
 text-align: center;
 font-family: tahoma;
 margin: 0 auto;
 background-color: white;
 margin-top: 100px;
  border-radius: 25px;
  opacity:0.9;
  border-color: black;
}

/*.container img{
 width: 150px;
 height: 150px;
 margin-top: -15px;

}*/

input[type="text"],input[type="password"]{
 margin-top: -50px;
  margin-left: 0px;
 height: 30px;
 width: 300px;
 font-size: 16px;
 text-align: center;
 color: black;
 margin-bottom: 0px;
border-radius:50px;
 border-style: bold;
 border-color:green;

}

.form-input::before{

 font-family: "FontAwesome";
 padding-left: 5px;
 padding-top: 30px;
 position: absolute;
 font-size: 35px;
 color: #2980b9;
text-align: left;
}



.btn{
 padding: 15px 25px;
 border: none;
 background-color: green;
 color: #fff;
 border-radius: 25px;
 width: 150px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: ;
  text-align: black;
}
;
.ruler {
 color: green;
}
